## About

This module provides an implementation for the server side of the network layer of SynchronizeFX.
It uses the Websocket implementation of Tomcat for this purpose.

## Maven Config

To add this module to a Maven based project add the following to your pom.xml

    <dependency>
        <groupId>de.saxsys.synchronizefx</groupId>
        <artifactId>synchronizefx</artifactId>
        <version>${currentVersion}</version>
    </dependency>

## Usage

The network layer is provided in form of a servlet.
This servlet needs to get a `de.saxsys.synchronizefx.core.clientserver.Serializer` implementation to work properly.
To do this you need to sub class `SynchronizeFXTomcatServlet` and implement the abstract method `newSerializer()`.
Make sure this servlet get's loaded in your Tomcat e.g. by using the `javax.servlet.annotation.WebServlet` annotation
or registering it in your web.xml.
You can then use it to create `SynchronizeFxServer` like this

    //Get the servlet you just implemented somehow.
    //This could be done with `@Inject` or ` = this;` if you put the following code directly in this servlet 
    SynchronizeFXTomcatServlet myServlet = ...;
    
    //Your implementation that handles errors that can occur while the framework is running.
    //This could be directly implemented here as anonymous class, it could be `this` or some extra class.
    ServerCallback callback = ...;
    
    //The root of the domain model you want to share.
    Object root = ...;
    
    //A unique name for the model that should be shared. Multipe models can be shared at the same time
    //by using different channel names.
    String channelName = "someChannel";
    
    [...]
    
    //Create a new channel at the servlet that servers the domain model.
    SynchronizeFxServer server = myServlet.newChannel(root, channelName, callback);
    
    //Finally start the server.
    server.start();
    
    [...]
    
    //When the domain model should no longer be served call the following. This will disconnect all remaining
    //connected clients.
    server.shutdown();
